/* CSS variables */
:root {
  --title-color: #323232;
  --content-color: #323232;
}

/* Fonts */
@font-face {
  font-family: "Mulish";
  src: local("Mulish-Regular"), url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish-Medium"), url("../fonts/Mulish-Medium.woff2") format("woff2"), url("../fonts/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish-Bold"), url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
/* CSS reset */
html {
  min-height: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

body {
  background-color: #fff;
  height: 100%;
  position: relative;
  line-height: 1.1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  color: var(--content-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}

input,
textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  background-clip: padding-box;
  font-family: inherit;
  border: none;
  font: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font: inherit;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
}
input::placeholder,
textarea::placeholder {
  font: inherit;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fff inset !important;
}

button {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  color: inherit;
  border-width: 0;
  -webkit-appearance: button;
  font: inherit;
}

a,
a:visited {
  display: inline-flex;
  text-decoration: none;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

i {
  display: flex;
}

/* Main container */
.container {
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px;
}

/* Global flex */
.flex {
  display: flex;
}

/* Global flex column */
.flex-c {
  display: flex;
  flex-direction: column;
}

/* Global button */
.g-button {
  color: #fff;
}
.g-button a {
  padding: 15px 40px;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  transition: transform 0.5s;
}
.g-button a:hover {
  transform: scale(0.95);
}

/* Global titles */
.g-title {
  font-weight: 700;
  color: var(--title-color);
}
.g-title--h1 {
  font-size: clamp(30px, 4vw, 45px);
  line-height: clamp(35px, 4vw, 50px);
}
.g-title--h2 {
  font-size: clamp(25px, 3vw, 35px);
  line-height: clamp(28px, 3vw, 38px);
}
.g-title--h3 {
  font-size: clamp(22px, 3vw, 30px);
}
.g-title--h4 {
  font-size: clamp(20px, 2vw, 25px);
}
.g-title--h5 {
  font-size: clamp(18px, 2vw, 20px);
}

/* Global text */
.g-text {
  line-height: 1.5;
}

/* Section margin */
.section-mb {
  margin-bottom: clamp(30px, 7vw, 80px);
}

.intro {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh; /* fall-back */
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  background-image: url("../img/video-bg.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.intro::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.intro h1 {
  color: #fff;
  z-index: 4;
}

.video-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  opacity: 0;
  transition: all 5s;
  transition-delay: 0.5s;
}
.video-bg.is-active {
  opacity: 1;
}
.video-bg::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
  opacity: 0;
  position: absolute;
  top: -9999px;
}
.video-bg::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
  opacity: 0;
  position: absolute;
  top: -9999px;
}
.video-bg::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
  opacity: 0;
  position: absolute;
  top: -9999px;
}
.video-bg::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
  opacity: 0;
  position: absolute;
  top: -9999px;
}
.video-bg::-webkit-media-controls-enclosure {
  display: none !important;
  -webkit-appearance: none;
}
.video-bg::-webkit-media-controls-overlay-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* Burger css */
.burger {
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  z-index: 10;
}
.burger__main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.burger__main span {
  display: block;
  width: 100%;
  height: 2px;
}
.burger__main span:nth-child(1) {
  transition-delay: 0.5s;
}
.burger__main span:nth-child(2) {
  transition-delay: 0.625s;
}
.burger__main span:nth-child(3) {
  transition-delay: 0.75s;
}
.burger__toggle {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
}
.burger__toggle span {
  position: relative;
  background: #fff;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}
.burger__cross {
  position: absolute;
  width: 22px;
  height: 22px;
  transform: rotate(45deg);
}
.burger__cross span:nth-child(1) {
  height: 0%;
  width: 2px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition-delay: 0s;
}
.burger__cross span:nth-child(2) {
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition-delay: 0.25s;
}
.burger__toggle.is-active .burger__main span {
  width: 0;
}
.burger__toggle.is-active .burger__main span:nth-child(1) {
  transition-delay: 0s;
}
.burger__toggle.is-active .burger__main span:nth-child(2) {
  transition-delay: 0.125s;
}
.burger__toggle.is-active .burger__main span:nth-child(3) {
  transition-delay: 0.25s;
}
.burger__toggle.is-active .burger__cross span:nth-child(1) {
  height: 100%;
  transition-delay: 0.625s;
}
.burger__toggle.is-active .burger__cross span:nth-child(2) {
  width: 100%;
  transition-delay: 0.375s;
}

/* Burger css end */
/* Header */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  z-index: 10;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  color: #fff;
}
.header__logo {
  width: 150px;
  cursor: pointer;
}
.header__nav {
  justify-self: flex-start;
}
.header__nav ul {
  gap: 20px;
  font-size: 18px;
}
.header__nav a,
.header__nav a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.header__nav a:before,
.header__nav a:after,
.header__nav a > span:before,
.header__nav a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}
.header__nav a {
  display: inline-block;
  overflow: hidden;
}
.header__nav a:before, .header__nav a:after {
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.header__nav a:before {
  width: 100%;
  height: 1px;
  transform: translateX(-101%);
}
.header__nav a:after {
  width: 1px;
  height: 100%;
  transform: translateY(101%);
}
.header__nav a > span {
  display: flex;
  padding: 10px;
}
.header__nav a > span:before, .header__nav a > span:after {
  left: 0;
  top: 0;
  background-color: #fff;
}
.header__nav a > span:before {
  width: 100%;
  height: 1px;
  transform: translateX(101%);
}
.header__nav a > span:after {
  width: 1px;
  height: 100%;
  transform: translateY(-101%);
}
.header__nav a:hover:before, .header__nav a:hover:after, .header__nav a:hover > span:before, .header__nav a:hover > span:after {
  transform: translate(0, 0);
}
.header__actions {
  justify-self: flex-end;
  gap: 20px;
  align-items: center;
}
.header__actions-call {
  position: relative;
  padding-left: 23px;
}
.header__actions-call::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/icons/call.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* Footer */